[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/alokchandra11
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/alokchandra11
	label-Verified = -1..+1 group user/alokchandra11
	push = group user/alokchandra11
	read = group user/alokchandra11
	rebase = group user/alokchandra11
	removeReviewer = group user/alokchandra11
	submit = group user/alokchandra11
[access "refs/heads/*"]
	create = group user/alokchandra11
	push = +force group user/alokchandra11
	pushMerge = group user/alokchandra11
	read = group user/alokchandra11
[access "refs/tags/*"]
	push = group user/alokchandra11
	push = +force group user/alokchandra11
